/* 全局样式配置 */
*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#app{
	height: 100%;
}

/* element-ui面包屑下边距 */
.el-breadcrumb{
	margin-bottom:15px;
}
.el-card{
	
}
.el-table{
	margin-top:15px;
}